@use '../base/' as *;

.lift {
  height: $floor-height;
  width: $shaft-width;

  background-color: $clr-primary;

  overflow: hidden;

    &__indicator {
      margin: 20px auto 0 auto;
    }

    &.blink {
      animation-name: blink;
      animation-duration: 1s;
      animation-iteration-count: 3;
    }
}

@keyframes blink {
  0% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}