@use '../base/' as *;

.lift {
  height: $floor-height;
  width: $shaft-width;

  background-color: $clr-primary;
  position: relative;

  overflow: hidden;

    &__indicator {
      margin: 20px auto 0 auto;
    }
}