@use '@/styles/base/' as *;

.lift-indicator {
  width: 50px;
  height: 30px;
  padding: 5px;

  background-color: $clr-black;
  color: $clr-white;
  border-radius: 5px;

    &__wrapper {
      display: flex;
      gap: 2px;
      align-items: center;
      justify-content: center;
    }
}