@use './base/' as *;

body {
  background-color: $clr-bg;
}

.floors {
  margin: 2rem auto; 
  max-width: 800px;

  position: relative;

    &__lift {
      position: absolute;
      bottom: 0;
    }
}